ThriveApp.xcodeproj/xcuserdata/vadimsvorobjovs.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ThriveApp.xcodeproj/xcuserdata/vadimsvorobjovs.xcuserdatad/xcschemes/xcschememanagement.plist
ThriveApp/ThriveApp.xcworkspace/xcuserdata/vadimsvorobjovs.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
